REACT_APP_API_URL=https://api.hispaloshop.com
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_live_...
REACT_APP_CLOUDINARY_CLOUD=...
REACT_APP_CLOUDINARY_PRESET=hispaloshop_unsigned
REACT_APP_GIPHY_API_KEY=<tu key de produccion>
